body{
    background-image: url(../images/error2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 5rem;
}
a{
    text-align: center;
    color: red;
}